<mat-toolbar color="primary">
  <span>Vjuh</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="home-section">
  <div class="home-container">
    <div class="home-heading">Вжух - просто проверьте знания кибербезопасности</div>
    <div class="home-text">но это не точно</div>
    <div class="home-more">
      <a mat-flat-button href="#more" color="accent">О нас</a>
      <a mat-flat-button href="https://t.me/vjuh_sber_bot" target="_blank"
        color="primary">@vjuh_sber_bot</a>
    </div>
  </div>
</div>
<div class="grid-container">
  <h1 class="mat-h1" id="more">Наша команда</h1>
  <mat-grid-list [cols]="col" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" [ngStyle]="card.avatart"></div>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
          <mat-card-subtitle>{{card.post}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>email</mat-icon>
              <div mat-line> {{card.email}}</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>phone</mat-icon>
              <div mat-line> {{card.phone}}</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>apartment</mat-icon>
              <div mat-line> {{card.city}}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="grid-container">
  <h1 class="mat-h1" id="more">Правила безопасности</h1>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>СМС-коды</b>
        </mat-panel-title>
        <mat-icon>sms</mat-icon>
      </mat-expansion-panel-header>
      <p>Никому не говорите свои коды из СМС, даже если к вам обращаются от имени сотрудников Сбербанка. Это мошенники.</p>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Следующий</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Сторонние программы</b>
        </mat-panel-title>
        <mat-icon>bug_report</mat-icon>
      </mat-expansion-panel-header>
      <p>Если вас просят установить программу на ваше устройство под предлогом технической поддержки или защиты средств, не делайте этого. Это мошенники.</p>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Предыдущий</button>
        <button mat-button color="primary" (click)="nextStep()">Следующий</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Неизвестные номера</b>
        </mat-panel-title>
        <mat-icon>phone</mat-icon>
      </mat-expansion-panel-header>
      <p>Сбербанк звонит клиентам с телефона 900 или 0440, если вам звонит служба безопасности с других телефонов – это мошенники.</p>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Предыдущий</button>
        <button mat-button color="primary" (click)="nextStep()">Следующий</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Защищённые счета</b>
        </mat-panel-title>
        <mat-icon>security</mat-icon>
      </mat-expansion-panel-header>
      <p>Сбербанк никогда не просит клиентов переводить средства на «защищённые счета», так делают только мошенники.</p>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Предыдущий</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
